/* 通用选择器：清除默认样式 */
*{
	margin: 0;
	padding: 0;
	list-style: none;
}
body{
	background: #f5f5f5;
	font-size: 14px;
}

.first{
	width: 100%;
	height: 13.77rem;
	background-image: url('../img/screen.png'),linear-gradient(#3bbcff,#47e9ff);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 100% auto,cover;
}
.first .pos{
	width: 100%;
	height: 1.6rem;
	color: #ffffff;
	font-size: 0.4rem;
	text-align: center;
	line-height: 1.6rem;
}
.first .air{
	width: 2.1rem;
	height: 1.26rem;
	background: #f1ab62;
	border-radius:0.15rem;
	margin-left: 0.27rem; 
}
.first .air h4{
	font-size: 0.24rem;
	color: #fff;
	text-align: center;
    line-height: 0.6rem;
    font-weight: 400;
}
.first .air h5{
    font-size: 0.34rem;
    color: #fff;
    text-align: center;
    font-weight: 400;
}
.first .title1{
	width: 100%;
	height: 1.75rem;
	font-size: 1.3rem;
	color: #fff;
	text-align: center;
	margin-top: 0.5rem;
}
.first .title2{
	width: 100%;
	height: 0.85rem;
	font-size: 0.58rem;
	color: #fff;
	text-align: center;
	margin-top: 0.44rem；
}
.first .title3{
	width: 100%;
	height: 1.66rem;
	font-size: 0.36rem;
	color: #fff;
	text-align: center;
	margin-top: 0.35rem;
}
.first .title4{
	width: 100%;
	/* height: 1.66rem; */
	font-size:0.4rem;
	color: #fff;
	text-align: center;

}
.second{
	width: 100%;
	height: 2.88rem;
	background: #fff;
	border-bottom: 0.01rem solid #e4e4e4;
	font-size: 0.34rem;
}
.second .today{
	width: 5.4rem;
	height: 1.47rem;
	border-right: 0.03rem solid #e4e4e4;
	float: left;
	margin-top: 0.72rem; 
}
.second .tomorrow{
	width: 5.37rem;
	height: 1.47rem;
	float: left; 
	margin-top: 0.72rem; 
}
.second .today .top{
	width: 100%;
	height: 0.6rem;
}
.second .today .top .todayText{
	float: left;
	width: 0.95rem;
	height: 100%;
	line-height: 0.6rem;
	margin-left: 0.56rem;
}
.second .today .top .tem{
	float: right;
	width: 1.58rem;
	height: 100%;
	line-height: 0.6rem;
	margin-right: 0.59rem;
}
.second .today .bottom{
	width: 100%;
	height: 1.2rem;
}
.second .today .bottom .con{
	float: left;
	width: 1.9rem;
	height: 100%;
	margin-left: 0.56rem;
	line-height: 1.411rem;
}
.second .today .bottom .conPic{
	width: 0.56rem;
	height: 0.56rem;
	float: right;
	margin-right: 0.59rem;
	margin-top: 0.33rem; 
	/* background-image: url('../img/0.png'); */
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 100% auto,cover;
}
.second .tomorrow .top{
	width: 100%;
	height: 0.6rem;
}
.second .tomorrow .top .tomorrowText{
	float: left;
	width: 0.95rem;
	height: 100%;
	line-height: 0.6rem;
	margin-left: 0.56rem;
}
.second .tomorrow .top .tem{
	float: right;
	width: 1.58rem;
	height: 100%;
	line-height: 0.6rem;
	margin-right: 0.59rem;
}
.second .tomorrow .bottom{
	width: 100%;
	height: 1.2rem;
}
.second .tomorrow .bottom .con{
	float: left;
	width: 1.9rem;
	height: 100%;
	margin-left: 0.56rem;
	line-height: 1.411rem;
}
.second .tomorrow .bottom .conPic{
	width: 0.56rem;
	height: 0.56rem;
	float: right;
	margin-right: 0.59rem;
	margin-top: 0.33rem; 
	background-image: url('../img/1.png');
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 100% auto,cover;
}
.third{
	width: 100%;
	height: 2.08rem;
	background: #fff;
    margin-top: 0.27rem;
    border-top: 0.03rem solid #e4e4e4;
    border-bottom: 0.03rem solid #e4e4e4;
    padding: 0.88rem 0 0.88rem 0;
    /* x方向允许出现滚动条 */
    overflow-x: auto;
    overflow-y: hidden;
}
 /* 滚动条的宽度设置为0  */
 .third::-webkit-scrollbar{
	width: 0;
} 
.third .wrap{
	width: 100%;
	/* 弹性盒子 */
	display: flex;
}
.third .wrap .box{
	width: 1.95rem;
	height: 100%;
	flex-shrink: 0;
}
.third .wrap .box .time{
    font-size: 0.23rem;
    color: #999;
    text-align: center; 
}
.third .wrap .box .icon{
	width: 0.55rem;
	height: 0.55rem;
	background-image: url('../img/1.png');
	background-size: 100%;
	margin: 0.57rem auto 0.5rem auto;
}
.third .wrap .box .timeTem{
    font-size: 0.26rem;
    text-align: center;
    color: #333;
}
/* .third .wrap .box2{
	width: 1.95rem;
	height: 100%;
	flex-shrink: 0;
}
.third .wrap .box2 .time{
    font-size: 0.23rem;
    color: #999;
    text-align: center; 
}
.third .wrap .box2 .icon{
	width: 0.55rem;
	height: 0.55rem;
	background-image: url('../img/1.png');
	background-size: 100%;
	margin: 0.57rem auto 0.5rem auto;
}
.third .wrap .box2 .timeTem{
    font-size: 0.26rem;
    text-align: center;
    color: #333;
}
.third .wrap .box3{
	width: 1.95rem;
	height: 100%;
	flex-shrink: 0;
}
.third .wrap .box3 .time{
    font-size: 0.23rem;
    color: #999;
    text-align: center; 
}
.third .wrap .box3 .icon{
	width: 0.55rem;
	height: 0.55rem;
	background-image: url('../img/0.png');
	background-size: 100%;
	margin: 0.57rem auto 0.5rem auto;
}
.third .wrap .box3 .timeTem{
    font-size: 0.26rem;
    text-align: center;
    color: #333;
}
.third .wrap .box4{
	width: 1.95rem;
	height: 100%;
	flex-shrink: 0;
}
.third .wrap .box4 .time{
    font-size: 0.23rem;
    color: #999;
    text-align: center; 
}
.third .wrap .box4 .icon{
	width: 0.55rem;
	height: 0.55rem;
	background-image: url('../img/2.png');
	background-size: 100%;
	margin: 0.57rem auto 0.5rem auto;
}
.third .wrap .box4 .timeTem{
    font-size: 0.26rem;
    text-align: center;
    color: #333;
}
.third .wrap .box5{
	width: 1.95rem;
	height: 100%;
	flex-shrink: 0;
}
.third .wrap .box5 .time{
    font-size: 0.23rem;
    color: #999;
    text-align: center; 
}
.third .wrap .box5 .icon{
	width: 0.55rem;
	height: 0.55rem;
	background-image: url('../img/3.png');
	background-size: 100%;
	margin: 0.57rem auto 0.5rem auto;
}
.third .wrap .box5 .timeTem{
    font-size: 0.26rem;
    text-align: center;
    color: #333;
}
.third .wrap .box6{
	width: 1.95rem;
	height: 100%;
	flex-shrink: 0;
}
.third .wrap .box6 .time{
    font-size: 0.23rem;
    color: #999;
    text-align: center; 
}
.third .wrap .box6 .icon{
	width: 0.55rem;
	height: 0.55rem;
	background-image: url('../img/4.png');
	background-size: 100%;
	margin: 0.57rem auto 0.5rem auto;
}
.third .wrap .box6 .timeTem{
    font-size: 0.26rem;
    text-align: center;
    color: #333;
}
.third .wrap .box7{
	width: 1.95rem;
	height: 100%;
	flex-shrink: 0;
}
.third .wrap .box7 .time{
    font-size: 0.23rem;
    color: #999;
    text-align: center; 
}
.third .wrap .box7 .icon{
	width: 0.55rem;
	height: 0.55rem;
	background-image: url('../img/30.png');
	background-size: 100%;
	margin: 0.57rem auto 0.5rem auto;
}
.third .wrap .box7 .timeTem{
    font-size: 0.26rem;
    text-align: center;
    color: #333;
}
.third .wrap .box8{
	width: 1.95rem;
	height: 100%;
	flex-shrink: 0;
}
.third .wrap .box8 .time{
    font-size: 0.23rem;
    color: #999;
    text-align: center; 
}
.third .wrap .box8 .icon{
	width: 0.55rem;
	height: 0.55rem;
	background-image: url('../img/31.png');
	background-size: 100%;
	margin: 0.57rem auto 0.5rem auto;
}
.third .wrap .box8 .timeTem{
    font-size: 0.26rem;
    text-align: center;
    color: #333;
} */
.fourth{
	height: 9rem;
	background: #fff;
	border-bottom: 0.03rem solid #e4e4e4;
	border-top: 0.03rem solid #e4e4e4;
	padding: 0.71rem 0 0.94rem;
	margin-top: 0.27rem;
	display: flex;
	overflow-y: hidden;
	overflow-x: auto;
}
.fourth .box2{

	height: 100%;
	float: left;
}
.fourth .box2 .date{
	text-align: center;
	width: 100%;
	width: 2.5rem;
	color: #888888;
}
.fourth .box2 .con1{
	width: 2.2rem;
	height: 0.9rem;
	margin-top: 0.44rem;
	text-align: center;
} 
.fourth .box2 .tem1{
	width: 100%;
	height: 0.5rem;
	margin-top: 0.88rem;
	text-align: center;
}
.fourth .box2 .tem2{
    width: 100%;
    height: 0.28rem;
    margin-top: 1.33rem;
    text-align: center;
}
.fourth .box2 .conPic1{
	width: 0.55rem;
	height: 0.55rem;
    background-image: url('../img/1.png');
    background-size: 100%;
    margin: 0.56rem auto 0.83rem auto;
}
.fourth .box2 .conPic{
	width: 0.55rem;
	height: 0.55rem;
    background-image: url('../img/31.png');
    background-size: 100%;
    margin: 1.08rem auto 0.47rem auto;
}
.fourth .box2 .con2{
	width: 100%;
	height: 0.36rem;
	margin-top: 0.28rem;
	text-align: center;
}
.fourth .box2 .wind{
	width: 100%;
	height: 0.29rem;
	margin-top: 0.9rem;
	text-align: center;
	color: #888888;
}
.fourth .box2 .size{
	width: 100%;
	height: 0.29rem;
	margin-top: 0.3rem;
	text-align: center;
	color: #888888;
}
 .fourth::-webkit-scrollbar{
	height: 0;
} 
/* .fourth .box2{
	width: 1.8rem;
	height: 100%;
	float: left;
}
.fourth .box2 .date{
	text-align: center;
	width: 100%;
	height: 0.24rem;
}
.fourth .box2 .con1{
	width: 100%;
	height: 0.36rem;
	margin-top: 0.44rem;
	text-align: center;
} 
.fourth .box2 .tem1{
	width: 100%;
	height: 0.28rem;
	margin-top: 0.88rem;
	text-align: center;
}
.fourth .box2 .tem2{
    width: 100%;
    height: 0.28rem;
    margin-top: 1.33rem;
    text-align: center;
}
.fourth .box2 .conPic1{
	width: 0.55rem;
	height: 0.55rem;
    background-image: url('../img/0.png');
    background-size: 100%;
    margin: 0.56rem auto 0.83rem auto;
}
.fourth .box2 .conPic2{
	width: 0.55rem;
	height: 0.55rem;
    background-image: url('../img/31.png');
    background-size: 100%;
    margin: 1.08rem auto 0.47rem auto;
}
.fourth .box2 .con2{
	width: 100%;
	height: 0.36rem;
	margin-top: 0.47rem;
	text-align: center;
}
.fourth .box2 .wind{
	width: 100%;
	height: 0.29rem;
	margin-top: 0.48rem;
	text-align: center;
}
.fourth .box2 .size{
	width: 100%;
	height: 0.29rem;
	margin-top: 0.16rem;
	text-align: center;
}
.fourth .box3{
	width: 1.8rem;
	height: 100%;
	float: left;
}
.fourth .box3 .date{
	text-align: center;
	width: 100%;
	height: 0.24rem;
}
.fourth .box3 .con1{
	width: 100%;
	height: 0.36rem;
	margin-top: 0.44rem;
	text-align: center;
} 
.fourth .box3 .tem1{
	width: 100%;
	height: 0.28rem;
	margin-top: 0.88rem;
	text-align: center;
}
.fourth .box3 .tem2{
    width: 100%;
    height: 0.28rem;
    margin-top: 1.33rem;
    text-align: center;
}
.fourth .box3 .conPic1{
	width: 0.55rem;
	height: 0.55rem;
    background-image: url('../img/0.png');
    background-size: 100%;
    margin: 0.56rem auto 0.83rem auto;
}
.fourth .box3 .conPic2{
	width: 0.55rem;
	height: 0.55rem;
    background-image: url('../img/30.png');
    background-size: 100%;
    margin: 1.08rem auto 0.47rem auto;
}
.fourth .box3 .con2{
	width: 100%;
	height: 0.36rem;
	margin-top: 0.47rem;
	text-align: center;
}
.fourth .box3 .wind{
	width: 100%;
	height: 0.29rem;
	margin-top: 0.48rem;
	text-align: center;
}
.fourth .box3 .size{
	width: 100%;
	height: 0.29rem;
	margin-top: 0.16rem;
	text-align: center;
}
.fourth .box4{
	width: 1.8rem;
	height: 100%;
	float: left;
}
.fourth .box4 .date{
	text-align: center;
	width: 100%;
	height: 0.24rem;
}
.fourth .box4 .con1{
	width: 100%;
	height: 0.36rem;
	margin-top: 0.44rem;
	text-align: center;
} 
.fourth .box4 .tem1{
	width: 100%;
	height: 0.28rem;
	margin-top: 0.88rem;
	text-align: center;
}
.fourth .box4 .tem2{
    width: 100%;
    height: 0.28rem;
    margin-top: 1.33rem;
    text-align: center;
}
.fourth .box4 .conPic1{
	width: 0.55rem;
	height: 0.55rem;
    background-image: url('../img/1.png');
    background-size: 100%;
    margin: 0.56rem auto 0.83rem auto;
}
.fourth .box4 .conPic2{
	width: 0.55rem;
	height: 0.55rem;
    background-image: url('../img/30.png');
    background-size: 100%;
    margin: 1.08rem auto 0.47rem auto;
}
.fourth .box4 .con2{
	width: 100%;
	height: 0.36rem;
	margin-top: 0.47rem;
	text-align: center;
}
.fourth .box4 .wind{
	width: 100%;
	height: 0.29rem;
	margin-top: 0.48rem;
	text-align: center;
}
.fourth .box4 .size{
	width: 100%;
	height: 0.29rem;
	margin-top: 0.16rem;
	text-align: center;
}
.fourth .box5{
	width: 1.8rem;
	height: 100%;
	float: left;
}
.fourth .box5 .date{
	text-align: center;
	width: 100%;
	height: 0.24rem;
}
.fourth .box5 .con1{
	width: 100%;
	height: 0.36rem;
	margin-top: 0.44rem;
	text-align: center;
} 
.fourth .box5 .tem1{
	width: 100%;
	height: 0.28rem;
	margin-top: 0.88rem;
	text-align: center;
}
.fourth .box5 .tem2{
    width: 100%;
    height: 0.28rem;
    margin-top: 1.33rem;
    text-align: center;
}
.fourth .box5 .conPic1{
	width: 0.55rem;
	height: 0.55rem;
    background-image: url('../img/0.png');
    background-size: 100%;
    margin: 0.56rem auto 0.83rem auto;
}
.fourth .box5 .conPic2{
	width: 0.55rem;
	height: 0.55rem;
    background-image: url('../img/30.png');
    background-size: 100%;
    margin: 1.08rem auto 0.47rem auto;
}
.fourth .box5 .con2{
	width: 100%;
	height: 0.36rem;
	margin-top: 0.47rem;
	text-align: center;
}
.fourth .box5 .wind{
	width: 100%;
	height: 0.29rem;
	margin-top: 0.48rem;
	text-align: center;
}
.fourth .box5 .size{
	width: 100%;
	height: 0.29rem;
	margin-top: 0.16rem;
	text-align: center;
}
.fourth .box6{
	width: 1.8rem;
	height: 100%;
	float: left;
}
.fourth .box6 .date{
	text-align: center;
	width: 100%;
	height: 0.24rem;
}
.fourth .box6 .con1{
	width: 100%;
	height: 0.36rem;
	margin-top: 0.44rem;
	text-align: center;
} 
.fourth .box6 .tem1{
	width: 100%;
	height: 0.28rem;
	margin-top: 0.88rem;
	text-align: center;
}
.fourth .box6 .tem2{
    width: 100%;
    height: 0.28rem;
    margin-top: 1.33rem;
    text-align: center;
}
.fourth .box6 .conPic1{
	width: 0.55rem;
	height: 0.55rem;
    background-image: url('../img/0.png');
    background-size: 100%;
    margin: 0.56rem auto 0.83rem auto;
}
.fourth .box6 .conPic2{
	width: 0.55rem;
	height: 0.55rem;
    background-image: url('../img/31.png');
    background-size: 100%;
    margin: 1.08rem auto 0.47rem auto;
}
.fourth .box6 .con2{
	width: 100%;
	height: 0.36rem;
	margin-top: 0.47rem;
	text-align: center;
}
.fourth .box6 .wind{
	width: 100%;
	height: 0.29rem;
	margin-top: 0.48rem;
	text-align: center;
}
.fourth .box6 .size{
	width: 100%;
	height: 0.29rem;
	margin-top: 0.16rem;
	text-align: center;
} */

.fifth{
	width: 100%;
	height: 5.37rem;
	background: #fff;
	border-bottom: 0.03rem solid #e4e4e4;
	border-top: 0.03rem solid #e4e4e4;
	margin-top: 0.27rem;

}
.fifth .box{
	width: 2.67rem;
	height: 2.67rem;
	float: left;
    margin-top: 0.03rem;
    border-bottom: 0.03rem solid #e4e4e4;
    border-right: 0.03rem solid #e4e4e4;
}
.fifth .box .pic{
	width: 0.55rem;
	height: 0.55rem;
	background-image: url('../img/logo.png');
	background-size: 100%;
	margin: 0.41rem auto 0.2rem auto; 
}
.fifth .box .notice{
	width: 100%;
	height: 0.36rem;
	margin-top: 0.3rem;
    text-align: center;
    color: #000000;
}
.fifth .box .thing{
	width: 100%;
	height: 0.32rem;
	margin-top: 0.19rem;
	text-align: center;
	color: #a0a0a0;
}
.fifth .box:nth-child(4n){
	margin-right: 0;	
}
.sixth{
	width: 100%;
	height: 0.72rem;
	font-size: 0.3rem;
	padding-top: 0.38rem;
	text-align: center;
	background: #f5f5f5;
	color: #bcbcbc;
}

.city::-webkit-scrollbar{
	width: 0;
}

.city{
	width: 100%;
	height: 100%;
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	/* 隐藏 */
    display: none;   
	overflow-y: auto;
}
.city .search{
	width: 100%; 
	height: 1.26rem;
	border-bottom: 0.03rem solid #e4e4e4;
	position: fixed;
	top: 0;
	left: 0;
	background: #fff;
	z-index: 10;
}
.city .search .searchBox{
	width: 7.68rem;
	height: 0.86rem;
	background: #f2f2f2;
	border-radius: 0.43rem;
	border: none; 
	margin: 0.20rem 0 0.20rem 0.36rem;
	padding-left: 0.92rem;
	font-size: 0.35rem;
	float: left; 
	color: #808080;
}
.city .search .button{
	float: left;
	width: 1.84rem; 
	height: 0.86rem;
	margin-top: 0.2rem;
	line-height: 0.86rem; 
	font-size: 0.35rem;
	color: #434343;
	text-align: center;
}
.city .citys{
	width: 100%;
	overflow: hidden;
	padding: 0.34rem 0.34rem 0.2rem 0.34rem;
	box-sizing: border-box;
}
.city .citys .title{
	width: 100%;
	font-size: 0.35rem;
	color: #434343;
}
.city .citys .con{
	width: 100%; 
	margin-top: 0.6rem;
	overflow: hidden;
}
.city .citys .con .box{
	width: 3.16rem;
	height: 0.8rem;
	background: #f2f2f2;
	border-radius: 0.4rem;
	font-size: 0.3rem;
	color: #434343;
	text-align: center;
	line-height: 0.8rem;
	float: left;
	margin-right: 0.3rem; 
	margin-bottom: 0.22rem;
}
.city .citys .con .box:nth-child(3n){
	margin-right: 0;	
}
.city .city1{
	margin-top: 1.3rem;
}